/* KEY FRAMES */

@keyframes moveTwoUp {
  100% {
    transform: translate(0, 16rem);
  }
}

@keyframes moveTwoSq {
  100% {
    transform: translate(0, -16rem);
  }
}

@keyframes whitePawnThreeTake {
  100% {
    transform: translate(8rem, 24rem);
  }
}

@keyframes taken {
  100% {
    opacity: 0;
  }
}

@keyframes moveOneUp {
  100% {
    transform: translate(0, -8rem);
  }
}

@keyframes whitepThreeTakeBpFive {
  100% {
    transform: translate(16rem, 32rem);
  }
}

@keyframes takeBpFive {
  100% {
    transform: translate(16rem, -16rem);
  }
}

@keyframes whiteHorseMove {
  100% {
    transform: translate(-8rem, 16rem);
  }
}

@keyframes blackQueen {
  100% {
    transform: translate(-32rem, -32rem);
  }
}

@keyframes moveForwardUp {
  100% {
    transform: translate(0, 8rem);
  }
}

@keyframes takeWhitepTwo {
  100% {
    transform: translate(-24rem, -40rem);
  }
}

@keyframes whitepOneTakeBqueen {
  100% {
    transform: translate(8rem, 8rem);
  }
}

@keyframes blackBishopTakeWpOne {
  100% {
    transform: translate(-8rem, -40rem);
  }
}